@charset "utf-8";


/* Geral */

*{
    margin: 0px;
    padding: 0px;
}
/* Fim Geral */


/* Corpo */
header{
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.459);
    color: white;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 0, 0.856);
}

main{
    min-height: 84vh;
}

#imag{
    width: 20%;
    min-width: 30%;
    padding-bottom: 5px;
}

/* Fim Corpo */


/* Divs Feijoada, Farofa e Palha */
#h1r{
    font-size: 1.5em;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}


.Feijoada, .Farofa, .Palha{
    display: flex;
    display: block;
    min-width: 319px;
    max-width: 1024px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 45px;
    padding: 12px;
    margin: 8px;
    background-color: #FFED4C;
    margin:auto;
    margin-bottom: 5px;
}

.Feijoada > h2{
    padding-bottom: 8px;
    text-align: center;
}

.Feijoada > p, li{
    margin-right: 10px;
}

.Farofa > h2{
    padding-bottom: 8px;
    text-align: center;
}

.Palha > h2{
    padding-bottom: 8px;
    text-align: center;
}
/* FIM Divs Feijoada, Farofa e Palha */


/* Ingredientes */
.Ingredientes > h3{
    background-color: white;
}

.Ingredientes > p, li{
    font-style: italic;
}

/* Fim Ingredientes */




/* Modo de Preparo */
.Preparo > h3{
    background-color: lightgreen;
}

ul, ol{
    margin: 10px;
}

h1, h2, h3{
    font-family: 'Merriweather', serif;
}
/* FIM Modo de Preparo */


/* Navegação */
nav{
    padding: 8px;
}
nav > a{
    padding-right: 5px;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
    color: red;
}


/* HOME */
.mhome{
    padding-top: 90px;
    min-width: 319px;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}

.mhome > img{
    margin: auto;
    width: 50px;
}

.h1home{
    font-size: 3em;
}

.phome{
    font-size: 18px;
}

/* FIM HOME */



/* Cadastro */
.form{
    background-color: #ffed4cc2;
    display: inline-block;
    padding: 1rem;
    min-height: 100vh;
    border: 1px solid black;
}

.form-header{
    border: 1px solid rgba(0, 0, 0, 0.384);
    margin-bottom: 1rem;
}

.tittle h1{
    text-align: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.input-box{
    margin-bottom: 1.1rem;
    display: flex;
    flex-direction: column;
}

.input-box1{
    display: flex;
}

.input-box1 .input-box{
    margin-right: 15px;
}

.input-box input[name="nome"], .input-box input[name="Email"], .input-box input[name="rua"]{
    border-radius: 5px;
    max-width: 650px;
    max-height: 30px;
}

.input-box input[name="cep"]{
    border-radius: 5px;
    width: 325px;
    height: 30px;
}

.input-box input[name="numero"]{
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

.input-box input[name="complemento"]{
     border-radius: 5px;
     width: 250px;
     height: 30px;
}

.input-box input[name="cidade"]{
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.input-box input[name="uf"]{
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

/* Rodapé */
footer{
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

footer:hover{
    color: red;
}

@media only screen and (min-width: 319px){
    .input-box{
        width: 100%;
    }

    .input-group > .input-box1 > .input-box{
        width: 100%;
    }
}