@charset "utf-8";

/* Corpo */

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.459);
    color: white;
}

body{
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 0, 0.856);
}

main{
    min-height: 84vh;
}


.rart{
    font-size: 1.5em;
    padding: 5px;
    text-align: center;
}


.Feijoada, .Farofa, .Palha{
    min-width: 319px;
    max-width: 1024px;
    border: 1px solid black;
    border-radius: 45px;
    padding: 12px;
    margin: 8px;
    background-color: #FFED4C;
}

ul, ol{
    margin: 10px;
}

h1, h2, h3{
    font-family: 'Merriweather', serif;
}


/* Navegação */
nav{
    padding: 8px;
}
nav > a{
    padding-right: 5px;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
    color: red;
}


/* Rodapé */
footer{
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

footer:hover{
    color: red;
}

/* HOME */
.mhome{
    padding-top: 90px;
    min-width: 319px;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}

.mhome > img{
    margin: auto;
    width: 50px;
}

.h1home{
    font-size: 3em;
}

.phome{
    font-size: 18px;
}

/* FIM HOME */